@use "styles/modules/mq/mixins-and-functions" as *;

.grid {
  display: grid;
  width: 100%;

  &.cols2 {
    grid-template-columns: 1fr 1fr;
  }

  &.cols3 {
    grid-template-columns: 1fr 1fr 1fr;
  }

  &.cols4 {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  &.gapSmall {
    grid-gap: var(--layout-spacer-lg);
  }

  &.noColsMaxMqXs {
    @include mq-down(xs) {
      grid-template-columns: 1fr;
    }
  }

  &.noColsMaxMqSm {
    @include mq-down(sm) {
      grid-template-columns: 1fr;
    }
  }

  &.noColsMaxMqMd {
    @include mq-down(md) {
      grid-template-columns: 1fr;
    }
  }
}

.cell {
  border: 5px solid var(--base-border);
  border-radius: var(--layout-spacer-md);
  padding: var(--layout-spacer-md);
}
