@use "styles/modules/colours/variables" as *;

.blackOnWhite {
  --base-background: var(--white);
  --shade-background: var(--black-haze);
  --base-text: var(--mineshaft);
  --base-text-light: var(--dove-gray);
  --base-border: var(--dove-gray);

  --button-primary-border: var(--brand-primary);
  --button-primary-background: var(--brand-primary);
  --button-primary-text: var(--white);

  --button-primary-border-hover: var(--brand-primary);
  --button-primary-background-hover: var(--brand-primary-lighter);
  --button-primary-text-hover: var(--white);

  --button-primary-border-press: var(--brand-primary-darker);
  --button-primary-background-press: var(--brand-primary-darker);
  --button-primary-text-press: var(--white);

  --button-secondary-border: var(--mineshaft);
  --button-secondary-background: var(--mineshaft);
  --button-secondary-text: var(--white);

  --button-secondary-border-hover: var(--mineshaft);
  --button-secondary-background-hover: var(--tundora);
  --button-secondary-text-hover: var(--white);

  --button-secondary-border-press: var(--mineshaft);
  --button-secondary-background-press: var(--mineshaft);
  --button-secondary-text-press: var(--silver);
}

.whiteOnBlack {
  --base-background: var(--mineshaft);
  --shade-background: var(--tundora);
  --base-text: var(--white);
  --base-text-light: var(--dove-gray);
  --base-border: var(--dove-gray);

  --button-primary-border: var(--brand-primary);
  --button-primary-background: var(--brand-primary);
  --button-primary-text: var(--white);

  --button-primary-border-hover: var(--brand-primary-lighter);
  --button-primary-background-hover: var(--brand-primary-lighter);
  --button-primary-text-hover: var(--white);

  --button-primary-border-press: var(--brand-primary-darker);
  --button-primary-background-press: var(--brand-primary-darker);
  --button-primary-text-press: var(--white);

  --button-secondary-border: var(--white);
  --button-secondary-background: var(--mineshaft);
  --button-secondary-text: var(--white);

  --button-secondary-border-hover: var(--white);
  --button-secondary-background-hover: var(--tundora);
  --button-secondary-text-hover: var(--white);

  --button-secondary-border-press: var(--silver);
  --button-secondary-background-press: var(--mineshaft);
  --button-secondary-text-press: var(--silver);
}

.whiteOnBrandPrimary {
  --base-background: var(--brand-primary);
  --shade-background: var(--brand-primary-lighter);
  --base-text: var(--white);
  --base-text-light: var(--white-x-brand-primary);
  --base-border: var(--white-x-brand-primary);

  --button-primary-border: var(--white);
  --button-primary-background: var(--brand-primary);
  --button-primary-text: var(--white);

  --button-primary-border-hover: var(--white);
  --button-primary-background-hover: var(--brand-primary-lighter);
  --button-primary-text-hover: var(--white);

  --button-primary-border-press: var(--white);
  --button-primary-background-press: var(--brand-primary-darker);
  --button-primary-text-press: var(--white);

  --button-secondary-border: var(--white);
  --button-secondary-background: var(--mineshaft);
  --button-secondary-text: var(--white);

  --button-secondary-border-hover: var(--white);
  --button-secondary-background-hover: var(--white);
  --button-secondary-text-hover: var(--mineshaft);

  --button-secondary-border-press: var(--silver);
  --button-secondary-background-press: var(--silver);
  --button-secondary-text-press: var(--mineshaft);
}

.electricOnWhite {
  --base-background: var(--electric-white);
  --shade-background: var(--electric-black-haze);
  --base-text: var(--electric-mineshaft);
  --base-text-light: var(--electric-dove-gray);
  --base-border: var(--electric-dove-gray);

  --button-primary-border: var(--electric-brand-primary);
  --button-primary-background: var(--electric-brand-primary);
  --button-primary-text: var(--electric-white);

  --button-primary-border-hover: var(--electric-brand-primary);
  --button-primary-background-hover: var(--electric-brand-primary-lighter);
  --button-primary-text-hover: var(--electric-white);

  --button-primary-border-press: var(--electric-brand-primary-darker);
  --button-primary-background-press: var(--electric-brand-primary-darker);
  --button-primary-text-press: var(--electric-white);

  --button-secondary-border: var(--electric-mineshaft);
  --button-secondary-background: var(--electric-mineshaft);
  --button-secondary-text: var(--electric-white);

  --button-secondary-border-hover: var(--electric-mineshaft);
  --button-secondary-background-hover: var(--electric-tundora);
  --button-secondary-text-hover: var(--electric-white);

  --button-secondary-border-press: var(--electric-mineshaft);
  --button-secondary-background-press: var(--electric-mineshaft);
  --button-secondary-text-press: var(--electric-silver);
}

.darkMode {
  .blackOnWhite {
    --base-background: var(--mineshaft);
    --shade-background: var(--tundora);
    --base-text: var(--white);
    --base-text-light: var(--dove-gray);
    --base-border: var(--dove-gray);

    --button-primary-border: var(--brand-primary);
    --button-primary-background: var(--brand-primary);
    --button-primary-text: var(--white);

    --button-primary-border-hover: var(--brand-primary-lighter);
    --button-primary-background-hover: var(--brand-primary-lighter);
    --button-primary-text-hover: var(--white);

    --button-primary-border-press: var(--brand-primary-darker);
    --button-primary-background-press: var(--brand-primary-darker);
    --button-primary-text-press: var(--white);

    --button-secondary-border: var(--white);
    --button-secondary-background: var(--mineshaft);
    --button-secondary-text: var(--white);

    --button-secondary-border-hover: var(--white);
    --button-secondary-background-hover: var(--tundora);
    --button-secondary-text-hover: var(--white);

    --button-secondary-border-press: var(--silver);
    --button-secondary-background-press: var(--mineshaft);
    --button-secondary-text-press: var(--silver);
  }

  .whiteOnBlack {
    --base-background: var(--white);
    --shade-background: var(--black-haze);
    --base-text: var(--mineshaft);
    --base-text-light: var(--dove-gray);
    --base-border: var(--dove-gray);

    --button-primary-border: var(--brand-primary);
    --button-primary-background: var(--brand-primary);
    --button-primary-text: var(--white);

    --button-primary-border-hover: var(--brand-primary);
    --button-primary-background-hover: var(--brand-primary-lighter);
    --button-primary-text-hover: var(--white);

    --button-primary-border-press: var(--brand-primary-darker);
    --button-primary-background-press: var(--brand-primary-darker);
    --button-primary-text-press: var(--white);

    --button-secondary-border: var(--mineshaft);
    --button-secondary-background: var(--mineshaft);
    --button-secondary-text: var(--white);

    --button-secondary-border-hover: var(--mineshaft);
    --button-secondary-background-hover: var(--tundora);
    --button-secondary-text-hover: var(--white);

    --button-secondary-border-press: var(--mineshaft);
    --button-secondary-background-press: var(--mineshaft);
    --button-secondary-text-press: var(--silver);
  }

  .whiteOnBrandPrimary {
    --base-background: var(--brand-primary-darker);
    --shade-background: var(--brand-primary);
    --base-text: var(--white);
    --base-text-light: var(--white-x-brand-primary);
    --base-border: var(--white-x-brand-primary);

    --button-primary-border: var(--white);
    --button-primary-background: var(--brand-primary);
    --button-primary-text: var(--white);

    --button-primary-border-hover: var(--white);
    --button-primary-background-hover: var(--brand-primary-lighter);
    --button-primary-text-hover: var(--white);

    --button-primary-border-press: var(--white);
    --button-primary-background-press: var(--brand-primary-darker);
    --button-primary-text-press: var(--white);

    --button-secondary-border: var(--white);
    --button-secondary-background: var(--mineshaft);
    --button-secondary-text: var(--white);

    --button-secondary-border-hover: var(--white);
    --button-secondary-background-hover: var(--white);
    --button-secondary-text-hover: var(--mineshaft);

    --button-secondary-border-press: var(--silver);
    --button-secondary-background-press: var(--silver);
    --button-secondary-text-press: var(--mineshaft);
  }

  .electricOnWhite {
    --base-background: var(--electric-mineshaft);
    --shade-background: var(--electric-tundora);
    --base-text: var(--electric-white);
    --base-text-light: var(--electric-dove-gray);
    --base-border: var(--electric-dove-gray);

    --button-primary-border: var(--electric-brand-primary);
    --button-primary-background: var(--electric-brand-primary);
    --button-primary-text: var(--electric-white);

    --button-primary-border-hover: var(--electric-brand-primary-lighter);
    --button-primary-background-hover: var(--electric-brand-primary-lighter);
    --button-primary-text-hover: var(--electric-white);

    --button-primary-border-press: var(--electric-brand-primary-darker);
    --button-primary-background-press: var(--electric-brand-primary-darker);
    --button-primary-text-press: var(--electric-white);

    --button-secondary-border: var(--electric-white);
    --button-secondary-background: var(--electric-mineshaft);
    --button-secondary-text: var(--electric-white);

    --button-secondary-border-hover: var(--electric-white);
    --button-secondary-background-hover: var(--electric-tundora);
    --button-secondary-text-hover: var(--electric-white);

    --button-secondary-border-press: var(--electric-white);
    --button-secondary-background-press: var(--electric-mineshaft);
    --button-secondary-text-press: var(--electric-silver);
  }
}
