@use "styles/modules/colours/variables" as *;

@mixin themeable-background-and-text() {
  background: var(--base-background);
  color: var(--base-text);
}

.blackOnWhite {
  @include themeable-background-and-text();
  --base-background: var(--white);
  --shade-background: var(--black-haze);
  --base-text: var(--mineshaft);
  --base-text-light: var(--dove-gray);
  --base-border: var(--dove-gray);

  --button-primary-border: var(--mineshaft);
  --button-primary-background: var(--mineshaft);
  --button-primary-text: var(--white);

  --button-primary-border-hover: var(--tundora);
  --button-primary-background-hover: var(--tundora);
  --button-primary-text-hover: var(--white);

  --button-primary-border-press: var(--mineshaft);
  --button-primary-background-press: var(--mineshaft);
  --button-primary-text-press: var(--white);

  --button-secondary-border: var(--mineshaft);
  --button-secondary-background: var(--white);
  --button-secondary-text: var(--mineshaft);

  --button-secondary-border-hover: var(--tundora);
  --button-secondary-background-hover: var(--tundora);
  --button-secondary-text-hover: var(--white);

  --button-secondary-border-press: var(--mineshaft);
  --button-secondary-background-press: var(--mineshaft);
  --button-secondary-text-press: var(--silver);

  --parallax-background-colour: #{rgba($electric-silver, 0.2)};
  --section-3d-background: #{rgba($white, 0.75)};
}

.whiteOnBlack {
  @include themeable-background-and-text();
  --base-background: var(--mineshaft);
  --shade-background: var(--tundora);
  --base-text: var(--white);
  --base-text-light: var(--dove-gray);
  --base-border: var(--dove-gray);

  --button-primary-border: var(--black-haze);
  --button-primary-background: var(--black-haze);
  --button-primary-text: var(--mineshaft);

  --button-primary-border-hover: var(--white);
  --button-primary-background-hover: var(--white);
  --button-primary-text-hover: var(--mineshaft);

  --button-primary-border-press: var(--silver);
  --button-primary-background-press: var(--silver);
  --button-primary-text-press: var(--mineshaft);

  --button-secondary-border: var(--white);
  --button-secondary-background: var(--mineshaft);
  --button-secondary-text: var(--white);

  --button-secondary-border-hover: var(--white);
  --button-secondary-background-hover: var(--tundora);
  --button-secondary-text-hover: var(--white);

  --button-secondary-border-press: var(--silver);
  --button-secondary-background-press: var(--mineshaft);
  --button-secondary-text-press: var(--silver);

  --parallax-background-colour: #{rgba($electric-tundora, 0.5)};
  --section-3d-background: #{rgba($mineshaft, 0.75)};
}

.whiteOnBrandPrimary {
  @include themeable-background-and-text();
  --base-background: var(--brand-primary);
  --shade-background: var(--brand-primary-lighter);
  --base-text: var(--white);
  --base-text-light: var(--white-x-brand-primary);
  --base-border: var(--white-x-brand-primary);

  --button-primary-border: var(--black-haze);
  --button-primary-background: var(--black-haze);
  --button-primary-text: var(--brand-primary);

  --button-primary-border-hover: var(--white);
  --button-primary-background-hover: var(--white);
  --button-primary-text-hover: var(--brand-primary);

  --button-primary-border-press: var(--silver);
  --button-primary-background-press: var(--silver);
  --button-primary-text-press: var(--brand-primary-darker);

  --button-secondary-border: var(--white);
  --button-secondary-background: var(--brand-primary);
  --button-secondary-text: var(--white);

  --button-secondary-border-hover: var(--white);
  --button-secondary-background-hover: var(--brand-primary-lighter);
  --button-secondary-text-hover: var(--white);

  --button-secondary-border-press: var(--silver);
  --button-secondary-background-press: var(--brand-primary);
  --button-secondary-text-press: var(--silver);

  --parallax-background-colour: #{rgba($brand-primary-lighter, 0.5)};
  --section-3d-background: #{rgba($brand-primary, 0.75)};
}

.electricOnWhite {
  @include themeable-background-and-text();
  --base-background: var(--electric-white);
  --shade-background: var(--electric-black-haze);
  --base-text: var(--electric-mineshaft);
  --base-text-light: var(--electric-dove-gray);
  --base-border: var(--electric-dove-gray);

  --button-primary-border: var(--electric-brand-primary);
  --button-primary-background: var(--electric-brand-primary);
  --button-primary-text: var(--electric-white);

  --button-primary-border-hover: var(--electric-brand-primary-lighter);
  --button-primary-background-hover: var(--electric-brand-primary-lighter);
  --button-primary-text-hover: var(--electric-white);

  --button-primary-border-press: var(--electric-brand-primary-darker);
  --button-primary-background-press: var(--electric-brand-primary-darker);
  --button-primary-text-press: var(--electric-white);

  --button-secondary-border: var(--electric-mineshaft);
  --button-secondary-background: var(--electric-white);
  --button-secondary-text: var(--electric-mineshaft);

  --button-secondary-border-hover: var(--electric-tundora);
  --button-secondary-background-hover: var(--electric-tundora);
  --button-secondary-text-hover: var(--electric-white);

  --button-secondary-border-press: var(--electric-mineshaft);
  --button-secondary-background-press: var(--electric-mineshaft);
  --button-secondary-text-press: var(--electric-silver);

  --parallax-background-colour: #{rgba($electric-black-haze, 0.5)};
  --section-3d-background: #{rgba($white, 0.75)};
}

.darkMode {
  .blackOnWhite {
    @include themeable-background-and-text();
    --base-background: var(--mineshaft);
    --shade-background: var(--tundora);
    --base-text: var(--white);
    --base-text-light: var(--dove-gray);
    --base-border: var(--dove-gray);

    --button-primary-border: var(--black-haze);
    --button-primary-background: var(--black-haze);
    --button-primary-text: var(--mineshaft);

    --button-primary-border-hover: var(--white);
    --button-primary-background-hover: var(--white);
    --button-primary-text-hover: var(--mineshaft);

    --button-primary-border-press: var(--silver);
    --button-primary-background-press: var(--silver);
    --button-primary-text-press: var(--mineshaft);

    --button-secondary-border: var(--white);
    --button-secondary-background: var(--mineshaft);
    --button-secondary-text: var(--white);

    --button-secondary-border-hover: var(--white);
    --button-secondary-background-hover: var(--tundora);
    --button-secondary-text-hover: var(--white);

    --button-secondary-border-press: var(--silver);
    --button-secondary-background-press: var(--mineshaft);
    --button-secondary-text-press: var(--silver);

    --parallax-background-colour: #{rgba($electric-tundora, 0.25)};
    --section-3d-background: #{rgba($mineshaft, 0.75)};
  }

  .whiteOnBlack {
    @include themeable-background-and-text();
    --base-background: var(--tundora);
    --shade-background: var(--dove-gray);
    --base-text: var(--white);
    --base-text-light: var(--dove-gray);
    --base-border: var(--dove-gray);

    --button-primary-border: var(--black-haze);
    --button-primary-background: var(--black-haze);
    --button-primary-text: var(--tundora);

    --button-primary-border-hover: var(--white);
    --button-primary-background-hover: var(--white);
    --button-primary-text-hover: var(--tundora);

    --button-primary-border-press: var(--silver);
    --button-primary-background-press: var(--silver);
    --button-primary-text-press: var(--mineshaft);

    --button-secondary-border: var(--white);
    --button-secondary-background: var(--tundora);
    --button-secondary-text: var(--white);

    --button-secondary-border-hover: var(--white);
    --button-secondary-background-hover: var(--dove-gray);
    --button-secondary-text-hover: var(--white);

    --button-secondary-border-press: var(--silver);
    --button-secondary-background-press: var(--tundora);
    --button-secondary-text-press: var(--silver);

    --parallax-background-colour: #{rgba($electric-dove-gray, 0.25)};
    --section-3d-background: #{rgba($tundora, 0.75)};
  }

  .whiteOnBrandPrimary {
    @include themeable-background-and-text();
    --base-background: var(--brand-primary-darker);
    --shade-background: var(--brand-primary);
    --base-text: var(--white);
    --base-text-light: var(--white-x-brand-primary);
    --base-border: var(--white-x-brand-primary);

    --button-primary-border: var(--black-haze);
    --button-primary-background: var(--black-haze);
    --button-primary-text: var(--brand-primary);

    --button-primary-border-hover: var(--white);
    --button-primary-background-hover: var(--white);
    --button-primary-text-hover: var(--brand-primary);

    --button-primary-border-press: var(--silver);
    --button-primary-background-press: var(--silver);
    --button-primary-text-press: var(--brand-primary-darker);

    --button-secondary-border: var(--white);
    --button-secondary-background: var(--brand-primary-darker);
    --button-secondary-text: var(--white);

    --button-secondary-border-hover: var(--white);
    --button-secondary-background-hover: var(--brand-primary);
    --button-secondary-text-hover: var(--white);

    --button-secondary-border-press: var(--silver);
    --button-secondary-background-press: var(--brand-primary-darker);
    --button-secondary-text-press: var(--silver);

    --parallax-background-colour: #{rgba($brand-primary, 0.5)};
    --section-3d-background: #{rgba($brand-primary-darker, 0.75)};
  }

  .electricOnWhite {
    @include themeable-background-and-text();
    --base-background: var(--electric-mineshaft);
    --shade-background: var(--electric-tundora);
    --base-text: var(--electric-white);
    --base-text-light: var(--electric-dove-gray);
    --base-border: var(--electric-dove-gray);

    --button-primary-border: var(--electric-brand-primary);
    --button-primary-background: var(--electric-brand-primary);
    --button-primary-text: var(--electric-white);

    --button-primary-border-hover: var(--electric-brand-primary-lighter);
    --button-primary-background-hover: var(--electric-brand-primary-lighter);
    --button-primary-text-hover: var(--electric-white);

    --button-primary-border-press: var(--electric-brand-primary-darker);
    --button-primary-background-press: var(--electric-brand-primary-darker);
    --button-primary-text-press: var(--electric-white);

    --button-secondary-border: var(--electric-white);
    --button-secondary-background: var(--electric-mineshaft);
    --button-secondary-text: var(--electric-white);

    --button-secondary-border-hover: var(--electric-white);
    --button-secondary-background-hover: var(--electric-tundora);
    --button-secondary-text-hover: var(--electric-white);

    --button-secondary-border-press: var(--electric-silver);
    --button-secondary-background-press: var(--electric-mineshaft);
    --button-secondary-text-press: var(--electric-silver);

    --parallax-background-colour: #{rgba($electric-black-haze, 0.5)};
    --section-3d-background: #{rgba($white, 0.75)};
  }
}
