.root3d {
  width: 100%;
  min-height: calc(100vh - 4rem);
  transform-style: preserve-3d;
  perspective: 100px;
  perspective-origin: calc(50vw + var(--scroll-x) * 1px) calc(50vh + var(--scroll-y) * 1px);
}

.pageFooter {
  position: relative; // Allow footer to render on top of root3d
}

.backgroundOrnament {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 200%;
  height: 200%;
  transform: translateX(-50%) translateY(-50%) translateZ(-300px) scale(6) rotate(10deg);
  background-size: 20px;

  &.pattern1 {
    background-image: linear-gradient(to right, var(--parallax-background-colour) 10px, transparent 1px);
  }

  &.pattern2 {
    transform: translateX(-50%) translateY(-50%) translateZ(-300px) scale(6) rotate(100deg);
    background-image: linear-gradient(to right, var(--parallax-background-colour) 10px, transparent 1px);
  }
}


.section {
  width: 100%;
  background: var(--section-3d-background);
  border: 5px solid var(--electric-dove-gray);
  padding: 16px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  transform-style: preserve-3d;
}

.section + .section {
  margin-top: 30px;
}

.sectionWidth40 {
  width: 40%;
}

.sectionWidth60 {
  width: 60%;
}

.sectionWidth80 {
  width: 80%;
}

.sectionWidth100 {
  width: 100%;
}

.sectionDepthHalf {
  .sectionLeft,
  .sectionRight {
    width: 5px;
  }
  .sectionTop,
  .sectionBottom {
    height: 5px;
  }
  .sectionShadow {
    transform: translateZ(-5px);
  }
}
.sectionZPlusHalfAndRotate {
  transform:
          translateZ(calc(0px + var(--scroll-y) * 0.01px))
          rotateY(calc(var(--scroll-y) * 0.002deg - 1deg))
          rotateX(calc(var(--scroll-y) * 0.002deg - 1deg));
}

.sectionLeft,
.sectionRight {
  position: absolute;
  top: -5px;
  height: calc(100% + 10px);
  background: var(--electric-dove-gray);
  width: 10px;
}

.sectionTop,
.sectionBottom {
  position: absolute;
  left: -5px;
  width: calc(100% + 10px);
  background: var(--electric-silver);
  height: 10px;
}

.sectionLeft {
  right: calc(100% + 5px);
  transform: translateX(50%) rotateY(90deg) translateX(50%);
}

.sectionRight {
  left: calc(100% + 5px);
  transform: translateX(-50%) rotateY(90deg) translateX(50%);
}

.sectionTop {
  bottom: calc(100% + 5px);
  transform: translateY(50%) rotateX(90deg) translateY(-50%);
}

.sectionBottom {
  top: calc(100% + 5px);
  transform: translateY(-50%) rotateX(90deg) translateY(-47.5%);
}
