@use "./variables" as *;

:root {
  --mineshaft: #{$mineshaft};
  --tundora: #{$tundora};
  --dove-gray: #{$dove-gray};
  --silver: #{$silver};
  --black-haze: #{$black-haze};
  --white: #{$white};
  --brand-primary: #{$brand-primary};
  --brand-primary-lighter: #{$brand-primary-lighter};
  --brand-primary-darker: #{$brand-primary-darker};
  --white-x-brand-primary: #{$white-x-brand-primary};

  --electric-mineshaft: #{$electric-mineshaft};
  --electric-tundora: #{$electric-tundora};
  --electric-dove-gray: #{$electric-dove-gray};
  --electric-silver: #{$electric-silver};
  --electric-black-haze: #{$electric-black-haze};
  --electric-white: #{$electric-white};
  --electric-brand-primary: #{$electric-brand-primary};
  --electric-brand-primary-lighter: #{$electric-brand-primary-lighter};
  --electric-brand-primary-darker: #{$electric-brand-primary-darker};
  --electric-white-x-brand-primary: #{$electric-white-x-brand-primary};

  --parallax-background-colour: #{rgba($electric-silver, 0.2)};
  --section-3d-background: #{rgba($white, 0.75)};
}
