$mineshaft: #1a1a1a;
$tundora: #404040;
$dove-gray: #888;
$silver: #ccc;
$black-haze: #f4f4f4;
$white: #fff;
$brand-primary: #eb0a1e;

$electric-mineshaft: #001a20;
$electric-tundora: #384058;
$electric-dove-gray: #78A;
$electric-silver: #bcd;
$electric-black-haze: #ebf0f4;
$electric-white: #fff;
$electric-brand-primary: #35b;
