@use "modules/colours/css-custom-properties";
@use "modules/btn";
@use "modules/typography";
@use "traits/Themeable/themeable";
@use "modules/mq/selectors";

html,
body {
  background: var(--base-background);
  color: var(--base-text);
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.th-shaded {
  background: var(--shade-background);
}

